<footer class="bg-light py-2">
    <div class="container text-center">

        <div class="mb-2">
            <a href="{% url 'home' %}" class="text-decoration-none text-dark mx-2">Home</a>
            <a href="{% url 'about' %}" class="text-decoration-none text-dark mx-2">About</a>
            <a href="{% url 'skills' %}" class="text-decoration-none text-dark mx-2">Skills</a>
            <a href="{% url 'projects' %}" class="text-decoration-none text-dark mx-2">Projects</a>
            <a href="{% url 'contact' %}" class="text-decoration-none text-dark mx-2">Contact</a>
        </div>

        <small class="text-muted">
            © 2026 Subham Chakraborty
        </small>

    </div>
</footer>