{% extends 'base.html' %}

{% block title %}Certificates - My Portfolio{% endblock %}

{% block content %}
<section id="about" class="bg-dark text-light py-5 mt-5" style="padding-top: 6rem;">
    <div class="container">

        <h2 class="text-center mb-5">
            My <span class="text-primary">Certificates</span>
        </h2>

        <div class="row g-4">

            <div class="col-md-6">
                <div class="card bg-black text-light">
                    <div class="card-body">
                        <h5>Introduction to Internet of Things</h5>
                        <p>IIT Kharagpur</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-black text-light">
                    <div class="card-body">
                        <h5>MERN Stack Development</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-black text-light">
                    <div class="card-body">
                        <h5>Full Stack Development using Python</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-black text-light">
                    <div class="card-body">
                        <h5>Python Fundamentals</h5>
                        <p>FutureSkills Prime (NASSCOM)</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}