{% extends 'base.html' %}

{% block title %}Contact - My Portfolio{% endblock %}

{% block content %}
<section id="about" class="bg-dark text-light py-5 mt-5" style="padding-top: 6rem;">
    <div class="container">

        <div class="row">

            <div class="col-lg-5">

                <h2>
                    Let's <span class="text-primary">Connect</span>
                </h2>

                <p class="mt-4">
                    Email:
                    placement@webskittersacademy.in
                </p>

                <p>
                    Phone:
                    +91 9163565682
                </p>

                <p>
                    Location:
                    Asansol, West Bengal
                </p>

            </div>

            <div class="col-lg-7">

                <form>

                    <input type="text"
                           class="form-control mb-3"
                           placeholder="Your Name">

                    <input type="email"
                           class="form-control mb-3"
                           placeholder="Your Email">

                    <textarea
                        class="form-control mb-3"
                        rows="5"
                        placeholder="Message"></textarea>

                    <button class="btn btn-primary">
                        Send Message
                    </button>

                </form>

            </div>

        </div>

    </div>
</section>
{% endblock %}