{% extends 'base.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<section id="about" class="bg-dark text-light py-5 mt-5" style="padding-top: 6rem;">
    <div class="container">

        <h2 class="mb-5">
            My <span class="text-primary">Education</span>
        </h2>

        <div class="card bg-dark text-light mb-4">
            <div class="card-body">
                <h4>MCA</h4>
                <p>Master of Computer Applications</p>
                <span class="badge bg-primary">2024</span>
                <span class="badge bg-success">CGPA 7.80</span>
            </div>
        </div>

        <div class="card bg-dark text-light">
            <div class="card-body">
                <h4>BCA</h4>
                <p>Bachelor of Computer Applications</p>
                <span class="badge bg-primary">2022</span>
                <span class="badge bg-success">CGPA 9.32</span>
            </div>
        </div>

    </div>
</section>
{% endblock %}

