{% extends 'base.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}

<section id="about" class="bg-dark text-light py-5 mt-5" style="padding-top: 6rem;">
    <div class="container">

        <h2 class="text-center mb-5">
            My <span class="text-primary">Projects</span>
        </h2>

        <div class="row g-4">

            <!-- Project 1 -->
            <div class="col-lg-6">
                <div class="card bg-black text-light h-100">
                    <img src="images/jobfinder.png"
                         class="card-img-top">

                    <div class="card-body">
                        <h4>Job Finder Portal</h4>

                        <p>
                            Developed a full-stack Job Finder Portal
                            connecting job seekers and recruiters.
                        </p>

                        <a href="#" class="btn btn-primary">
                            Live Demo
                        </a>

                        <a href="#" class="btn btn-outline-light">
                            GitHub
                        </a>
                    </div>
                </div>
            </div>

            <!-- Project 2 -->
            <div class="col-lg-6">
                <div class="card bg-black text-light h-100">
                    <img src="images/crop.png"
                         class="card-img-top">

                    <div class="card-body">
                        <h4>Crop Recommendation System</h4>

                        <p>
                            Machine learning system that recommends
                            suitable crops based on soil and
                            environmental conditions.
                        </p>

                        <a href="#" class="btn btn-primary">
                            Live Demo
                        </a>

                        <a href="#" class="btn btn-outline-light">
                            GitHub
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}